@inherits TypeDocumentationBase

<Div @attributes="this.Attributes">
    @if (this.Fields?.Count() > 0)
    {
        if (null != this.HeadingTemplate)
        {
            @this.HeadingTemplate
        }

        <ListGroup IsFlush="true">
            @foreach (var f in this.Fields)
            {
                <ListGroupAnchor Url="@this.UriBuilder.GetMemberUri(this.LibraryKey, f.Member).ToString()">
                    <Heading Level="5">@f.Member.ToDisplayName()</Heading>
                    <Paragraph>
                        <NodeList Nodes="@f.Summary?.ChildNodes" />
                    </Paragraph>
                </ListGroupAnchor>
            }
        </ListGroup>
    }
</Div>
