@inherits DocumentationComponentBase

<Div @attributes="this.Attributes">
    <ListGroup IsFlush="true">
        @foreach (var ns in this.Namespaces)
        {
            <ListGroupAnchor Url="@this.UriBuilder.GetNamespaceUri(this.LibraryKey, ns).ToString()">
                <Heading Level="5">@ns</Heading>
            </ListGroupAnchor>
        }
    </ListGroup>
</Div>
