@inherits TypeDocumentationBase

<Div @attributes="this.Attributes">
    @if (this.Properties?.Count() > 0)
    {
        @if (null != this.HeadingTemplate)
        {
            @this.HeadingTemplate
        }

        <ListGroup IsFlush="true">
            @foreach (var prop in this.Properties)
            {
                <ListGroupAnchor Url="@this.UriBuilder.GetMemberUri(this.LibraryKey, prop.Member).ToString()">
                    <Heading Level="5">@prop.Member.ToDisplayName()</Heading>
                    <Paragraph>
                        <NodeList Nodes="@prop.Summary?.ChildNodes" />
                    </Paragraph>
                </ListGroupAnchor>
            }
        </ListGroup>
    }
</Div>
