@inherits NodeComponentBase

@if(null != this.Node)
{
    <Div class="xml-example">
        <Heading Id="example" IsAnchor="true" Level="2">Example</Heading>
        <NodeList Nodes="this.Node.ChildNodes" />
    </Div>
}